.bg-mercadito-claro
{
    background-color: lightgreen;
}

.modal .modal-body {    
  overflow-y: auto;
  max-height: 350px;
}

.bg-mercadito-oscuro
{
    background-color: forestgreen;
}

.bg-azul-mercadito
{
  background-color: #156ed4;
}

.btn-azul-oscuro{
  background-color: #156ed4;
  text-align: center;
  text-transform: uppercase;
  color: antiquewhite;
  width: 100%;
}

.w-30{
  width: 30%;
}

.h-95{
  height: 90%;
}

.text-justify  { text-align: justify !important; }

.img-div-center{
    position: relative;
  }
  .img-centro-vert-hor{
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-centro-vertical{
    display: table-cell;
    vertical-align: middle;
  }